# Logs
web/logs
*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*

web/node_modules
.DS_Store
web/dist
web/dist-ssr
web/coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
web/.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

server/dist
server/node_module
